PORT=3000
NODE_ENV=production


WHATSAPP_ENABLED=true
WHATSAPP_SESSION_PATH=./whatsapp-session


TELEGRAM_ENABLED=true
TELEGRAM_BOT_TOKEN=8227555885:AAFVfcPaRIqIANFAfRwgDv_UAhLNK70q17A


GOOGLE_SHEET_ID=1JbXP_IkW5mK2lZPKIo0WUxLmalAsfG3xmj_ijRbkCpo
GOOGLE_CREDENTIALS_PATH=./google-credentials.json


JDIH_BASE_URL=https://jdih.dephub.go.id
JDIH_SEARCH_URL=https://jdih.dephub.go.id/peraturan/search



LOG_LEVEL=info
